<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fffbc4">
	<meta name="msapplication-TileColor" content="#222222">
	<meta name="theme-color" content="#ffffff">

	<meta name="description" content="{{ entry.seoDescription }}"/>
	<meta name="keywords" content="{{ seo.seoKeywords }}"/>

	<meta property="og:title" content="{{ siteName }}"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="{{ siteUrl }}"/>
	<meta property="og:description" content="{{ entry.seoDescription }}"/>
	<meta property="og:image" content="{{ siteUrl }}uploads/social.jpg"/>
	<meta property="og:image:width" content="1200" />
  	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="{{ siteName }}"/>

	<meta name="google-site-verification" content="7Sd7qCduAJbPxLkPry3Ifx-NO2scEzL2sQyXi4G7Z-I" />

	{% do view.registerCssFile("/css/site.min.css?v=4.23") %}
	{% do view.registerJsFile("/js/main.min.js?v=4.23") %}
</head>

<body class="{{ entry.title }}">
	<div id="container">
		<header id="header" class="aos-item" data-aos="fade" data-aos-delay="100" data-aos-duration="400" data-aos-easing="ease-in-quad">
			<a href="{{ siteUrl }}"><h1>{{ siteName }}</h1></a>
		</header>

		<main id="content" role="main" class="row">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			<p>&copy;{{ siteName }} {{ now|date('Y') }}</p>
		</footer>
	</div>
	{% block analytics %}
	    {% hook 'iaSendPageView' %}
	{% endblock %}
</body>
<script>
  AOS.init({
    startEvent: 'load'
  });
</script>
</html>
