<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico?v=2" >

  {% includeCssFile "/css/site.min.css" %}
	{% includeJsFile "/js/main.min.js" %}

</head>

<body class="soon">
	<div id="container">
    <header id="header">
			<a href="{{ siteUrl }}"><img src="img/harvested.svg" alt="Harvested" title="Harvested"></a>
		</header>
	</div>
</body>
</html>
